body {
  margin: 0;
  height: 100%;
  background-color: rgb(203, 153, 126);
}

#top {
  width: 100%;
  height: 1030px;
}
div,
a,
section,
h1,
h2,
h3,
h4,
footer {
  position: relative;
}

h1 {
  font-size: 5em;
  text-align: center;
  top: 50%;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
}

.content {
  width: 85%;
  margin: 1vw auto 20vw;
  margin-bottom: 30vw;
}

h2,
p {
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

img {
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
  float: right;
}
section {
  overflow: auto;
}
section:nth-child(even) {
  background-color: rgb(183, 183, 164);
}
section:nth-child(odd) {
  background-color: rgb(107, 112, 92);
}
.paragraph {
    background-color: rgb(255, 232, 214);
  }
/**arrow**/
.scroll-arrow {
  width: 50px;
  height: 10px;
  margin: -20px 0 0 -25px;
  bottom: 6%;
  left: 50%;
  position: fixed;
}

.scroll-arrow-wrap {
  position: 50%;
  top: 60%;
  left: 50%;
  width: 30px;
  height: 5px;
}

.scroll-arrow-wrap span::before,
.scroll-arrow-wrap span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: rgb(255, 232, 214);
  transform: skewY(33deg);
}

.scroll-arrow-wrap span::after {
  left: 50%;
  transform: skewY(-33deg);
}

.scroll-arrow-wrap span {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: arrowframe forwards infinite 3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes arrowframe {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(9px);
    opacity: 1;
  }

  50% {
    transform: translateY(-9px);
  }
}

.scroll-arrow-wrap[data-active="off"] {
  opacity: 0;
  pointer-events: none;
}

/**footer**/
ul,
ol {
  list-style: none;
  padding-left: 0px;
}
a {
  margin: 2vw;
}
footer > div {
  background-color: white;
  color: black;
  width: 100%;
  text-align: center;
  position: absolute;
}

a[href = "#top"] {
    position:fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    background-color: rgb(255, 232, 214); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
